h1 {
  color: red;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: blue;
  font-weight: lighter;
}

p {
  font-family: times;
}

ul {
  font-size: 20px;
  line-height: 300px;
}
